#Github Link

This is my github link https://github.com/Truseven/Everything-Counts.git

In [92]:
import pandas as pd

# load data
data_file = 'births_by_date.csv'
data = pd. read_csv (data_file)
# view data
data

,Date,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,01/01,"1,366","1,346","1,469","1,408","1,527","1,561","1,653","1,686","1,602",...,"1,465","1,454","1,361","1,337","1,496","1,530","1,586","1,657",1505,1529
1,02/01,"1,383","1,310","1,812","1,853","1,829","1,524","1,648","1,889","2,018",...,"1,765","1,619","1,519","1,669","1,382","1,503","1,817","1,809",1767,1425
2,03/01,"1,392","1,319","1,807","1,903","1,953","1,944","1,570","1,667","2,077",...,"1,565","1,881","1,784","1,796","1,526","1,495","1,651","2,005",1825,1703
3,04/01,"1,755","1,574","1,514","1,898","1,932","1,924","2,002","1,636","1,732",...,"1,473","1,502","1,776","1,832","1,818","1,797","1,561","1,742",1913,1883
4,05/01,"1,749","1,640","1,473","1,556","1,932","1,936","1,982","1,970","1,621",...,"1,769","1,372","1,473","1,838","1,836","1,859","1,871","1,462",1888,1890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,27/12,"1,311","1,290","1,194","1,684","1,825","1,865","1,447","1,480","1,494",...,"1,484","1,512","1,774","1,720","1,715","1,514","1,402","1,485",1885,1606
362,28/12,"1,770","1,429","1,290","1,424","1,922","1,943","1,951","1,529","1,519",...,"1,471","1,452","1,495","1,779","1,780","1,522","1,463","1,565",1757,1897
363,29/12,"1,870","1,958","1,756","1,456","1,604","2,025","2,077","2,066","1,906",...,"1,908","1,755","1,426","1,541","1,782","1,856","1,819","1,890",1633,1857
364,30/12,"1,798","1,846","1,720","1,793","1,572","1,709","2,034","2,122","2,006",...,"1,858","1,809","1,700","1,439","1,559","1,912","1,876","1,918",1883,1661
365,31/12,"1,423","1,801","1,741","1,837","1,857","1,565","1,664","2,094","1,980",...,"1,937","1,762","1,780","1,615","1,377","1,664","1,855","1,891",1844,1532

In [115]:
x = data[['2022', '2021','2019']]
x

      2022   2021   2019
0    1,366  1,346  1,408
1    1,383  1,310  1,853
2    1,392  1,319  1,903
3    1,755  1,574  1,898
4    1,749  1,640  1,556
..     ...    ...    ...
361  1,311  1,290  1,684
362  1,770  1,429  1,424
363  1,870  1,958  1,456
364  1,798  1,846  1,793
365  1,423  1,801  1,837

[366 rows x 3 columns]

In [109]:
x.describe()

         2022   2021   2019
count     366    366    366
unique    226    257    253
top     1,749  1,849  1,807
freq        8      4      5

In [110]:
x.head()

    2022   2021   2019
0  1,366  1,346  1,408
1  1,383  1,310  1,853
2  1,392  1,319  1,903
3  1,755  1,574  1,898
4  1,749  1,640  1,556